{% extends 'base.html' %}
{% block style%}
       .hide{
        display: none;

    }
    .edit-model{
        position: fixed;
        height: 300px;
        width: 400px;
        top: 100px;
        left:50%;
        z-index: 101;
        border: 1px solid red;
        background: bisque;
        margin-left: -200px;}
    .active{
   background-color: red;
   font-size:20px;
    }
{% endblock %}
{% block content %}


        <h1>账号管理</h1>
        <hr>
        <div>

               <a style="font-size: 20px;" href="/information/basic_document/" id="i1">基本资料</a>
            <a class="active" href="/information/password/" id="i2">密码管理</a>

            </div>
    <form method="post" action="/information/password/" id="edit_form">
    <div>
    <label>原密码：</label>
    </div>
        <div>
    <input type="password" placeholder="原密码" name="old_pwd" id="old_pwd">

    </div>
     <div>
         <label>新密码：</label></div>
        <div>
    <input type="password" placeholder="新密码" name="new_pwd" id="new_pwd">
{#            {{ change_obj.password }}#}

    </div>
     <div>
         <label>再次输入新密码：</label></div>
        <div>
    <input type="password" placeholder="再次输入新密码" name="confirm_pwd" id="confirm_pwd">
{#            {{ change_obj.confirm_password }}#}

    </div>
    <div>
         <input style="background-color: #2F72AB;color:white;margin-right: 50px;" type="button" value="确认修改" id="change">

         <input type="button" value="取消" style="background-color: #2F72AB;color:white;" id="fanhui">

    </div>
</form>
    <span id="messge"></span>
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script>
$(function () {

 $.ajaxSetup({
             beforeSend:function (xhr,settings) {
                 xhr.setRequestHeader('X-CSRFtoken',$.cookie('csrftoken'));

             }
         });
$('#change').click(function () {
    $.ajax({
        url:'/information/password/',
        data:$('#edit_form').serialize(),
        type:'POST',
        success:function (data) {
            var obj=JSON.parse(data);
            if (obj.status){
                $('#messge').text(obj.error);
{#                var script=document.createElement('script');#}
                alert('修改成功!!!');
                location.reload();

            }
            else {
                $('#messge').text(obj.error);
            }

        }


    })

});
$('#fanhui').click(function () {
    $('#new_pwd').val('');
     $('#old_pwd').val('');
      $('#confirm_pwd').val('');

})

})

</script>

{% endblock %}